.home-container {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: auto;
  height: auto;
}

.home-main-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.home-content-container {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-content-container h1 {
  min-width: 250px;
  color: #fff;
  font-size: 2em;
  margin-top: 5px;
}

.home-content-container p {
  color: #fff;
  font-size: 1em;
}

.home-image-container {
  width: auto;
  height: auto;
  padding: 15px;
}

.home-image-container img {
  width: 100%;
  max-width: 333px;
  height: auto;
}

.botton-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

@media (min-width: 576px) {
  .home-container {
    font-size: 19px;
    padding: 20px;
  }

  .home-image-container img {
    width: 333px;
    height: 199px;
    padding: 0;
  }

  .home-content-container {
    padding: 0px 40px;
  }

  .text-container {
    height: 123px;
    display: flex;
    justify-content: center;
  }

  .botton-container {
    width: auto;
    height: 123px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px;
  }

  .botton-container p {
    margin-top: 15px;
    margin-left: 16px;
  }
}

@media (min-width: 768px) {
  .home-main-container {
    display: flex;
    justify-content: center;

    min-height: 475px;
  }

  .home-content-container {
    padding: 0 140px;
  }

  .botton-container {
    justify-content: flex-end;
    padding: 40px 40px 40px 85px;
  }
}

@media (min-width: 992px) {
  .home-main-container {
    min-height: 579px;
  }

  .home-content-container {
    padding: 0 240px;
  }

  .home-image-container img {
    min-width: 455px;
    min-height: 272px;
  }
}

@media (min-width: 1200px) {

  .home-container {
    padding: 30px 150px;
  }

  .home-main-container {
    min-height: 365px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .home-image-container {
    padding: 30px;
  }

  .home-image-container img {
    min-width: 333px;
    min-height: 199px;
  }

  .home-content-container {
    padding: 140px 0 140px 60px;
    text-align: start;
  }
}