
.nav-main {
    padding-left: 20px;
    min-height: 70px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-main-text {
    color: #00285F;
    font-size: 24px;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu a:hover {
    font-weight: bold;
}

.main-menu a.active {
    font-weight: bold;
}

