.product-card {
    margin-bottom: 30px;
    min-width: auto;
}

.page-container {
    padding: 8px;
}

.card-top-container {
    padding: 14px 0;
    text-align: center;
}

.card-top-container img {
    width: 215px;
    height: 165px;
}

.card-botton-container {
    padding: 0 20px 15px 20px;

}

.card-botton-container h5 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.card-botton-container button {
    width: 100%;
}

.card-botton-container p {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}


@media (min-width:576px) {

    .card-botton-container p {
        font-size: 12px;
    }
}

@media (min-width:768px) {

    .card-botton-container p {
        font-size: 14px;
    }
}